# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
*.gitignore

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
# Flutter/Dart/Pub related

build/

.metadata

# Android related
android/.gradle/
android/app/build/
android/.idea/
android/local.properties
android/app/*.iml

# iOS related
ios/Flutter/.generated/
ios/Flutter/Flutter.podspec
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
ios/Flutter/App.xcconfig

# Visual Studio Code
.vscode/

# IntelliJ






# Temp files
*.tmp


# Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
